@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 209, 209);
}

.calculator {
  width: 25vw;
  min-width: 8.5rem;
  aspect-ratio: 9/16;
  background-color: black;
  outline: 1px solid black;
  border-radius: 0.5rem;
  overflow: hidden;
}

.display {
  font-family: 'Major Mono Display', monospace;
  font-size: 2rem;
  background-color: rgb(150, 192, 170);
  justify-content: end;
  padding-right: 0.25rem;
  display: flex;
  align-items: center;
}

button {
  border: none;
}

#equals {
  background-color: rgb(15, 68, 128);
}

#delete {
  background-color: rgb(128, 15, 15);;
}

#clear, #negate {
  background-color: rgb(80, 80, 80);;
}

.operator {
  background-color: rgb(128, 75, 15);
}

.num, #decimal {
  background-color: rgb(245, 233, 220);
}

@media screen and (max-width: 1188px){
  * {
    font-size: 1.5rem;
  }

  .display {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1550px) {
  * {
    font-size: 2rem;
  }
}